.button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: black;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-font: 48px "Enchanted Land";

}

.button:hover {
    -fx-font-size: 48px;
}

.vbox .button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: black;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-font: 48px "Enchanted Land";
}

.vbox .button:hover {
    -fx-font-style: oblique;
    -fx-font-size: 48px;
}

.text-field {
    -fx-opacity: 0.5;
    -fx-text-fill: black;
    -fx-font-family: "Echanted Land";
    -fx-background-image: url("/images/Paper.jpg");
}

.rectangle {
    -fx-fill: white;
    -fx-arc-width: 25;
    -fx-arc-height: 25;
    -fx-opacity: 0.75;
}

.text {
    -fx-font: 48px "Enchanted Land";
    -fx-text-fill: black;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-background-color: rgba(0, 0, 0, 0);
}